.table-label {
    font-weight: 600;
    font-size: 0.95rem;
}

.table-data {
    /*text-align: right;*/
}

.table-title {
    font-weight: 700;
    font-size: 1.20rem;
}

/*table {*/
    /*table-layout: fixed;*/
/*}*/

/*td {*/
    /*width: 33%;*/
/*}*/