<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-12">
              <div class="card">
                  <div class="card-header card-header-tabs card-header-warning">
                      <div class="nav-tabs-navigation">
                          <div class="nav-tabs-wrapper">
                              <ul class="nav nav-tabs" data-tabs="tabs">
                                  <li class="nav-item">
                                      <a mat-button class="nav-link active" href="#criterios" data-toggle="tab">
                                          <i class="material-icons">list</i> Critérios
                                          <div class="ripple-container"></div>
                                      </a>
                                  </li>
                                  <li class="nav-item">
                                      <a mat-button class="nav-link" href="#avaliacao" data-toggle="tab">
                                          <i class="material-icons">done_all</i> Avaliação
                                          <div class="ripple-container"></div>
                                      </a>
                                  </li>
                              </ul>
                          </div>
                      </div>
                  </div>
                  <div class="card-body">
                      <div class="tab-content">
                          <div class="tab-pane active" id="criterios">
                              <div class="card-body">
                                  <form>
                                      <div class="row">
                                          <div class="col-md-4">
                                              <mat-form-field class="example-full-width">
                                                  <input matInput placeholder="P / L" disabled>
                                              </mat-form-field>
                                          </div>
                                          <div class="col-md-4">
                                              <mat-form-field class="example-full-width">
                                                  <input matInput placeholder="Mínimo" type="number">
                                              </mat-form-field>
                                          </div>
                                          <div class="col-md-4">
                                              <mat-form-field class="example-full-width">
                                                  <input matInput placeholder="Máximo" type="number">
                                              </mat-form-field>
                                          </div>
                                      </div>
                                      <div class="row">
                                          <div class="col-md-4">
                                              <mat-form-field class="example-full-width">
                                                  <input matInput placeholder="P / VP" disabled>
                                              </mat-form-field>
                                          </div>
                                          <div class="col-md-4">
                                              <mat-form-field class="example-full-width">
                                                  <input matInput placeholder="Mínimo" type="number">
                                              </mat-form-field>
                                          </div>
                                          <div class="col-md-4">
                                              <mat-form-field class="example-full-width">
                                                  <input matInput placeholder="Máximo" type="number">
                                              </mat-form-field>
                                          </div>
                                      </div>
                                      <div class="row">
                                          <div class="col-md-4">
                                              <mat-form-field class="example-full-width">
                                                  <input matInput placeholder="P / EBIT" disabled>
                                              </mat-form-field>
                                          </div>
                                          <div class="col-md-4">
                                              <mat-form-field class="example-full-width">
                                                  <input matInput placeholder="Mínimo" type="number">
                                              </mat-form-field>
                                          </div>
                                          <div class="col-md-4">
                                              <mat-form-field class="example-full-width">
                                                  <input matInput placeholder="Máximo" type="number">
                                              </mat-form-field>
                                          </div>
                                      </div>
                                      <div class="row">
                                          <div class="col-md-4">
                                              <mat-form-field class="example-full-width">
                                                  <input matInput placeholder="PSR" disabled>
                                              </mat-form-field>
                                          </div>
                                          <div class="col-md-4">
                                              <mat-form-field class="example-full-width">
                                                  <input matInput placeholder="Mínimo" type="number">
                                              </mat-form-field>
                                          </div>
                                          <div class="col-md-4">
                                              <mat-form-field class="example-full-width">
                                                  <input matInput placeholder="Máximo" type="number">
                                              </mat-form-field>
                                          </div>
                                      </div>
                                      <div class="row">
                                          <div class="col-md-4">
                                              <mat-form-field class="example-full-width">
                                                  <input matInput placeholder="P / Ativos" disabled>
                                              </mat-form-field>
                                          </div>
                                          <div class="col-md-4">
                                              <mat-form-field class="example-full-width">
                                                  <input matInput placeholder="Mínimo" type="number">
                                              </mat-form-field>
                                          </div>
                                          <div class="col-md-4">
                                              <mat-form-field class="example-full-width">
                                                  <input matInput placeholder="Máximo" type="number">
                                              </mat-form-field>
                                          </div>
                                      </div>
                                      <div class="row">
                                          <div class="col-md-4">
                                              <mat-form-field class="example-full-width">
                                                  <input matInput placeholder="LPA" disabled>
                                              </mat-form-field>
                                          </div>
                                          <div class="col-md-4">
                                              <mat-form-field class="example-full-width">
                                                  <input matInput placeholder="Mínimo" type="number">
                                              </mat-form-field>
                                          </div>
                                          <div class="col-md-4">
                                              <mat-form-field class="example-full-width">
                                                  <input matInput placeholder="Máximo" type="number">
                                              </mat-form-field>
                                          </div>
                                      </div>
                                      <div class="row">
                                          <div class="col-md-4">
                                              <mat-form-field class="example-full-width">
                                                  <input matInput placeholder="VPA" disabled>
                                              </mat-form-field>
                                          </div>
                                          <div class="col-md-4">
                                              <mat-form-field class="example-full-width">
                                                  <input matInput placeholder="Mínimo" type="number">
                                              </mat-form-field>
                                          </div>
                                          <div class="col-md-4">
                                              <mat-form-field class="example-full-width">
                                                  <input matInput placeholder="Máximo" type="number">
                                              </mat-form-field>
                                          </div>
                                      </div>
                                      <div class="row">
                                          <div class="col-md-4">
                                              <mat-form-field class="example-full-width">
                                                  <input matInput placeholder="Margem Bruta" disabled>
                                              </mat-form-field>
                                          </div>
                                          <div class="col-md-4">
                                              <mat-form-field class="example-full-width">
                                                  <input matInput placeholder="Mínimo" type="number">
                                              </mat-form-field>
                                          </div>
                                          <div class="col-md-4">
                                              <mat-form-field class="example-full-width">
                                                  <input matInput placeholder="Máximo" type="number">
                                              </mat-form-field>
                                          </div>
                                      </div>
                                      <div class="row">
                                          <div class="col-md-4">
                                              <mat-form-field class="example-full-width">
                                                  <input matInput placeholder="Margem EBIT" disabled>
                                              </mat-form-field>
                                          </div>
                                          <div class="col-md-4">
                                              <mat-form-field class="example-full-width">
                                                  <input matInput placeholder="Mínimo" type="number">
                                              </mat-form-field>
                                          </div>
                                          <div class="col-md-4">
                                              <mat-form-field class="example-full-width">
                                                  <input matInput placeholder="Máximo" type="number">
                                              </mat-form-field>
                                          </div>
                                      </div>
                                      <div class="row">
                                          <div class="col-md-4">
                                              <mat-form-field class="example-full-width">
                                                  <input matInput placeholder="Margem Líquida" disabled>
                                              </mat-form-field>
                                          </div>
                                          <div class="col-md-4">
                                              <mat-form-field class="example-full-width">
                                                  <input matInput placeholder="Mínimo" type="number">
                                              </mat-form-field>
                                          </div>
                                          <div class="col-md-4">
                                              <mat-form-field class="example-full-width">
                                                  <input matInput placeholder="Máximo" type="number">
                                              </mat-form-field>
                                          </div>
                                      </div>
                                      <div class="row">
                                          <div class="col-md-4">
                                              <mat-form-field class="example-full-width">
                                                  <input matInput placeholder="ROE" disabled>
                                              </mat-form-field>
                                          </div>
                                          <div class="col-md-4">
                                              <mat-form-field class="example-full-width">
                                                  <input matInput placeholder="Mínimo" type="number">
                                              </mat-form-field>
                                          </div>
                                          <div class="col-md-4">
                                              <mat-form-field class="example-full-width">
                                                  <input matInput placeholder="Máximo" type="number">
                                              </mat-form-field>
                                          </div>
                                      </div>
                                      <div class="row">
                                          <div class="col-md-4">
                                              <mat-form-field class="example-full-width">
                                                  <input matInput placeholder="ROIC" disabled>
                                              </mat-form-field>
                                          </div>
                                          <div class="col-md-4">
                                              <mat-form-field class="example-full-width">
                                                  <input matInput placeholder="Mínimo" type="number">
                                              </mat-form-field>
                                          </div>
                                          <div class="col-md-4">
                                              <mat-form-field class="example-full-width">
                                                  <input matInput placeholder="Máximo" type="number">
                                              </mat-form-field>
                                          </div>
                                      </div>
                                      <div class="row">
                                          <div class="col-md-4">
                                              <mat-form-field class="example-full-width">
                                                  <input matInput placeholder="Dividend Yield" disabled>
                                              </mat-form-field>
                                          </div>
                                          <div class="col-md-4">
                                              <mat-form-field class="example-full-width">
                                                  <input matInput placeholder="Mínimo" type="number">
                                              </mat-form-field>
                                          </div>
                                          <div class="col-md-4">
                                              <mat-form-field class="example-full-width">
                                                  <input matInput placeholder="Máximo" type="number">
                                              </mat-form-field>
                                          </div>
                                      </div>
                                      <div class="row">
                                          <div class="col-md-4">
                                              <mat-form-field class="example-full-width">
                                                  <input matInput placeholder="Liquidez Corrente" disabled>
                                              </mat-form-field>
                                          </div>
                                          <div class="col-md-4">
                                              <mat-form-field class="example-full-width">
                                                  <input matInput placeholder="Mínimo" type="number">
                                              </mat-form-field>
                                          </div>
                                          <div class="col-md-4">
                                              <mat-form-field class="example-full-width">
                                                  <input matInput placeholder="Máximo" type="number">
                                              </mat-form-field>
                                          </div>
                                      </div>
                                      <div class="row">
                                          <div class="col-md-4">
                                              <mat-form-field class="example-full-width">
                                                  <input matInput placeholder="Dívida Bruta / Patrimônio Líquido" disabled>
                                              </mat-form-field>
                                          </div>
                                          <div class="col-md-4">
                                              <mat-form-field class="example-full-width">
                                                  <input matInput placeholder="Mínimo" type="number">
                                              </mat-form-field>
                                          </div>
                                          <div class="col-md-4">
                                              <mat-form-field class="example-full-width">
                                                  <input matInput placeholder="Máximo" type="number">
                                              </mat-form-field>
                                          </div>
                                      </div>
                                      <div class="row">
                                          <div class="col-md-4">
                                              <mat-form-field class="example-full-width">
                                                  <input matInput placeholder="Crescimento da Receita (5 anos)" disabled>
                                              </mat-form-field>
                                          </div>
                                          <div class="col-md-4">
                                              <mat-form-field class="example-full-width">
                                                  <input matInput placeholder="Mínimo" type="number">
                                              </mat-form-field>
                                          </div>
                                          <div class="col-md-4">
                                              <mat-form-field class="example-full-width">
                                                  <input matInput placeholder="Máximo" type="number">
                                              </mat-form-field>
                                          </div>
                                      </div>

                                      <button mat-raised-button type="submit" class="btn btn-warning pull-right">Salvar</button>
                                      <div class="clearfix"></div>
                                  </form>
                              </div>
                          </div>
                          <div class="tab-pane" id="avaliacao">
                              <p> kkkk </p>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
